@using CaptchaMvc.HtmlHelpers
@using DNTCms.Common.HtmlHelpers
@model DNTCms.ViewModel.Account.ResetPasswordViewModel
@{

}
<div class="row">

    @using (Html.BeginForm(MVC.Account.ActionNames.ResetPassword, MVC.Account.Name, FormMethod.Post,
        new { @class = "form-horizontal", role = "form", autocomplate = "off", id = "resetPasswordForm" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Code)
        <div class="col-md-10 col-md-offset-1">
            <div class="panel  panel-default">
                <div class="panel-heading">
                    <strong> ورود به حساب کاربری</strong>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.NoAutoCompleteTextBoxForLtr(m => m.Email)
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.FormControlPasswordFor(m => m.Password)
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.FormControlPasswordFor(m => m.ConfirmPassword)
                            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.MathCaptcha(MVC.Shared.Views._CaptchaPartial)
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" autocomplete="off" onclick=" AjaxForm.CustomSubmit(this, 'resetPasswordForm')" data-loading-text="در حال ارسال اطلاعات" class="btn btn-success btn-block">
                                تغییر کلمه عبور
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    }

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


